$tab: 768px;
$computer: 960px;

@media screen and (min-width: $computer){
    body{
        margin: 0 10%;
    }
}

@media screen and (min-width: $tab){
    .block-1{
        grid-column: span 2;
    }

    .block-2{
        grid-column: 3 / 7;
    }

    .block-3{
        grid-column: span 3;
    }

    .block-4{
        grid-column: span 3;    
    }
}
