$primary: #FFDAC5;
$secondary: #292625;
$heading: #eab192;
$bullish: #32CD32;
$bearish: #ff0000;

$spacing: (
    's': 10px,
    'm': 25px,
    'l': 40px
);

$font-size: (
    's': 1.2rem,
    'm': 1.4rem,
    'l': 1.8rem,
    'xl': 2rem
);

$image-size: (
    's': 1rem,
    'm': 2rem,
    'a': 2.5rem,
    'l': 3rem
)